.Bar {
  height: 50px;
  width: 100%;
  background-color: #4d4d4d;
  position: relative;
  display: flex;
  align-items: center;

  .MdLogin {
  
  }

  > .nav-btn {
    display: none;
  }
  > .nav-links {
    display: inline;
    float: right;
    margin-right: 10%;
    font-size: 18px;
    > a {
      display: inline-block;
      padding: 13px 10px 13px 10px;
      text-decoration: none;
      color: #efefef;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
  > #nav-check {
    display: none;
  }
}
@media (max-width: 600px) {
  .Bar {
    > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
      > label {
        display: inline-block;
        padding: 3vw;
        > span {
          display: block;
          width: 25px;
          height: 10px;
          border-top: 2px solid #eee;
        }
      }
    }
    #nav-check {
      &:checked {
        ~ {
          .nav-btn {
            > label {
              background-color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
    > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
      > a {
        display: block;
        width: 100%;
      }
    }
    > #nav-check {
      &:not(:checked) {
        ~ {
          .nav-links {
            height: 0px;
          }
        }
      }
      &:checked {
        ~ {
          .nav-links {
            height: calc(100vh - 50px);
            overflow-y: auto;
          }
        }
      }
    }
  }
}
